<section class="py-4 flex align-baseline" *ngIf="!actionHeader">
  <div class="flex w-full mx-[210px]">
    <div class=" text-red-600 bounce-horizontally mx-5 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
      </svg>
    </div>
    <div class="container flex items-center">
      <span class="text-gray-400">Here to Help!</span> <button
        class="border-red-600 text-red-600 border-[1px] mx-5 px-2 flex items-center rounded font-bold cursor-pointer text-[14px]">Let's
        Connect!</button>
    </div>
  </div>
  <div class="flex items-center text-gray-400 cursor-pointer mx-2">
    <a (click)="actionHeader = true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg> 
    </a>
  </div>
</section>