<div class="border-t-4 border-solid border-red-700">
  <div class="grid grid-cols-2 gap-5">
    <a href="/">
      <img
        class="mx-28 mt-10 sm:w-2 md:w-50 lg:w-44"
        src="assets/img/main-logo.png"
      />
    </a>
    <div class="grid grid-rows-2">
      <div class="grid grid-cols-2 justify-center">
        <div class="flex justify-end mt-14 text-red-600 text-lg font-extrabold cursor-pointer text-end mx-5">        
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
            </svg>
            <a href="#" class="mx-1">(913) 209-9772</a>
        </div>
        <div class="mt-14">
          <button
            class="rounded-full bg-gray-100 text-red-600 w-32 py-1 cursor-pointer font-extrabold text-sm"
          >
            CONTACT NOW
          </button>
        </div>
      </div>
      <div class="w-full">
         <app-navbar-header></app-navbar-header> 
      </div>
    </div>
  </div>
</div>
