<footer class="leading-10 bg-transparent text-center absolute bottom-0 left-0 w-full">
  <div class="bg-cover bg-no-repeat bg-transparent w-full h-32 bg-[url('assets/img/footer.png')]">
    <div class="grid grid-cols-7">
      <div class="col-span-1 mx-6 mt-5">
        <div class="bg-[url('assets/img/cw-footer.png')] bg-no-repeat h-14"></div>
      </div>
      <div class="col-span-1 align-top font-bold text-white isolate text-left text-sm mt-5">
        <h2 class="text-lg">Find Us</h2>
        <hr class="border-solid border-red-700 border-t-4 w-8 mb-2" />
        <p class="p-0">15230 W. 105th Terrace</p>
        <p class="p-0">Lenexa, KS 66219</p>
        <p class="p-0"><a href="tel:9132099772">(913) 209-9772</a></p>
      </div>
      <div class="col-span-2"></div>
      <div class="col-span-1 grid-rows-1 grid-cols-1 gap-4 whitespace-nowrap w-full px-2 max-w-full overflow-hidden">
        <div class="w-full">
          <div class=" text-end align-top font-bold cursor-pointer text-white content-none mt-5 text-lg mb-2">
            <a class="text-lg hover:text-red-900">Available Markets</a>
            <div class="w-full flex justify-end">
              <div class="border-solid border-b-4 w-8 border-red-700 min-w-0 hover:transition-all duration-1000 hover:min-w-20 bottom-1 right-0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black text-gray-500 py-[0.2px] text-[10px] font-bold">
    <span>
      &copy; 2024 Franchise Opportunities at City Wide Facility Solutions</span>
  </div>
</footer>