@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce-horizontally {
    animation: bounce-horizontal 1s infinite;
    /* Adjust duration as needed */
}

@keyframes bounce-horizontal {
    0%, 100% {
        transform: translateX(-10px);
        /* Adjust bounce distance */
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateX(10px);
        /* Adjust bounce distance */
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}